
@media (max-width: 800px) {
	.nav-tabs.nav-tabs-line .nav-item {
		margin-right: 70px;
	}
	.nav-pertama {
		margin-left: 13%;
	}
	.nav-pertama-profile {
		margin-left: 27%;
	}
	.nav-padding {
		padding : 0px 7px;
	}
}

@media (max-width: 720px) {
	.nav-tabs.nav-tabs-line .nav-item {
		margin-right: 70px;
	}
	.nav-pertama {
		margin-left: 25%;
	}
	.nav-pertama-profile {
		margin-left: 22%;
	}
	.nav-padding {
		padding : 0px 7px;
	}
}

@media (max-width: 640px) {
	.nav-tabs.nav-tabs-line .nav-item {
		margin-right: 70px;
	}
	.nav-pertama {
		margin-left: 24%;
	}
	.nav-pertama-profile {
		margin-left: 20%;
	}
	.nav-padding {
		padding : 0px 7px;
	}
}

@media (max-width: 480px) {
	.nav-tabs.nav-tabs-line .nav-item {
		margin-right: 18px !important;
	}
	.nav-pertama {
		margin-left: 13%;
	}
	.nav-pertama-profile {
		margin-left: 8%;
	}
	.nav-padding {
		padding : 0px 7px;
	}
	.nav-pertama-advice {
		margin-left: 24%;
	}
}
@media (max-width: 414px) {
	.nav-pertama {
		margin-left: 16%;
	}
	.nav-pertama-profile {
		margin-left: 11%;
	}
	.nav-pertama-advice {
		margin-left: 18%;
	}
	.nav-padding {
		padding : 0px 12px;
	}
}
@media (max-width: 375px) {
	.nav-pertama {
		margin-left: 17%;
	}
	.nav-pertama-profile {
		margin-left: 12%;
	}
	.nav-pertama-advice {
		margin-left: 14%;
	}
	.nav-padding {
		padding : 0px 7px;
	}
}
@media (max-width: 360px) {
	.nav-pertama {
		margin-left: 15%;
	}
	.nav-pertama-profile {
		margin-left: 10%;
	}
	.nav-pertama-advice {
		margin-left: 13%;
	}
	.nav-padding {
		padding : 0px 7px;
	}
}
@media (max-width: 320px) {
	.nav-pertama {
		margin-left: 11%;
	}
	.nav-pertama-profile {
		margin-left: 5%;
	}
	.nav-pertama-advice {
		margin-left: 7%;
	}
	.nav-padding {
		padding : 0px 6px;
	}
}