.kt-widget__username, #profession, #location {
	pointer-events: none;
	color: #48465b !important;
}

.kt-app__aside-overlay{
	z-index: 0;

}
.kt-app__aside--on .kt-app__aside-close {
	top: 55px;
	left: 15px;
}
.kt-app_aside {
	transition: none !important;
}
.kt-app__aside {
	z-index: 96;
}
.fixed_header {
	z-index: 95;
}

@media(max-height: 812px){
	.kt-app__aside{
		width: 100vw !important;
		top: 60px;
		left: 420px;
	}
	#kt_chat_aside {
		height: 85.5vh;
	}
	.kt-scroll--pull {
		height: 544px !important;
	}
}
@media(max-height: 740px){
	.kt-app__aside{
		width: 100vw !important;
		top: 60px;
		left: 420px;
	}
	#kt_chat_aside {
		height: 85vh;
	}
	.kt-scroll--pull {
		height: 544px !important;
	}
}
@media(max-height: 667px){
	.kt-app__aside{
		width: 100vw !important;
		top: 60px;
		left: 420px;
	}
	#kt_chat_aside {
		height: 82vh;
	}
	.kt-scroll--pull {
		height: 462px !important;
	}
}
@media(max-height: 640px){
	.kt-app__aside{
		width: 100vw !important;
		top: 60px;
		left: 420px;
	}
	#kt_chat_aside {
		height: 83vh;
	}
	.kt-scroll--pull {
		height: 446px !important;
	}
}
@media (max-height: 568px) {
	.kt-app__aside{
		width: 100vw !important;
		top: 60px;
		left: 420px;

	}
	#kt_chat_aside {
		height: 81vh;
	}
	.kt-scroll--pull {
		height: 385px !important;
	}
}
@media(min-width: 1025px) {
	.kt-app .kt-app__aside.kt-app__aside--lg {
		width: 450px !important;
	}
	#kt_chat_aside {
		height: auto !important;
	}
	.kt-scroll--pull {
		height: 464px !important;
	}
}